body {
    padding-left: 15%;
    background-image: url("Image/Background.jpg");
    background-repeat: no-repeat;    
    background-size: cover;
    background-attachment: fixed;
    width: 70%;
   
}

header {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    background-color: grey;
    padding: 10px;
    border-radius: 12px;
    position: relative; /* Permite posicionar os elementos */
}

h1 {
    padding: 10px; /* espaço interno */
    width: fit-content;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: white;
    }

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

p, li {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

input {
    border-radius: 12px
}

textarea {
    border-radius: 12px
}

button {
    height: 40px;
    width: 70px;
    font-size: large;
    border-radius: 12px;
}
button:hover {
    height: 45px;
    width: 75px;
    color: blue;
}

a:hover {
    color: black;
}

.alinhar {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens dentro do .alinhar */
    justify-content: center; /* Centraliza o título horizontalmente */
    flex: 1; /* Faz o título ocupar o espaço restante */
}

.foto {
    height: 125px;
    width: 125px;
    position: absolute; /* Posiciona a imagem */
    right: 10px; /* Move a imagem para o canto esquerdo */
}

.fotod{
    height: 125;
    width: 125px;
    position: absolute; /* Posiciona a imagem */
    left: 10px; /* Move a imagem para o canto esquerdo */
}

.comentario {
    height: 100px;
    width: 300px;
}

.whatsapp {
    color: blue;
    text-decoration: underline;
}

.whatsapp:hover {
    color: black
}

.whatsapp:hover::after {
    color: black;
    content: " - Indisponivel";
}

.background {
    background-color: white;
    border-radius: 12px;
    padding-left: 5px;
    padding-bottom: 5px;
}